<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="db" value="Access"/>
    <add key="connectionString" 
      value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\123data\MyBooks\NETProject\Ch06\db\BuyDirect.mdb"/>
    <add key="pageWidth" value="678"/>
    <add key="menuWidth" value="145"/>
  </appSettings>
  <system.web>
    <compilation defaultLanguage="vb" debug="true" />
    <authentication mode="Forms">
      <forms name="formAuth" loginUrl="admin/Login.aspx" >
         <credentials passwordFormat="Clear">
           <user name="ken" password="blackcomb"/>
         </credentials>
      </forms>
    </authentication>
  </system.web>
  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
